*{
    font-family: 'Poppins', sans-serif;
}

@media (max-height: 800px) {
  .responsive-img {
    bottom: auto !important; /* Remove bottom constraint */
    max-height: 630px;       /* Limit height */
    max-width: 700px;
  }
}
